@page "/About"
<h3>O aplikacji</h3>

<section>
    <p>"Parking Poznań" to aplikacja mająca pomóc mieszkańcom miasta Poznań aby znaleźć na mapie gdzie są dostępne parkingi MPK.</p>
    <p>Aplikacja została napisana w ramach projektu na laboratoria z przedmiotu <strong>Aplikacje Mobilne</strong>.</p>
    <p>
        Autorzy:
        <ul>
            <li>Rafał Kopczyński - <strong>122000</strong></li>
            <li>Elżbieta Kaczmarek - <strong>115326</strong></li>
        </ul>
    </p>
</section>